
<div class="card mb-4">
  <video class="card-img-top" controls>
    <source src="/videos/30409_1280x720.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="card-body">
    <h5 class="card-title">企業情報サイト</h5>
  </div>
</div>